<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxu.rubbishclassify.Dao.SearchMapper">
    <select id="findRubbish" resultType="com.sxu.rubbishclassify.Bean.Garbage">
        select * from tbl_garbage where garbage like "%"#{name}"%" limit 5
    </select>
</mapper>